* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.carousel {
  padding: 70px 100px;
  background-color: #bdbdbd;
  color: #fff;
  height: 80vh;
  width: 100vw;
}

.carousel-list {
  /* background-color: aqua; */
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.carousel h2 {
  padding: 0 20px;
  margin: 0 auto;
  padding: 30px 20px;
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  /* background-color: aliceblue; */
  max-width: 1200px;
}

.box {
  width: 170px;
  background-color: rgb(61, 61, 61);
  height: 470px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 30px;
}

.event-info {
  padding-top: 20px;
  /* background-color: aqua; */
  text-align: center;
}

.event-info h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.event-info p {
  font-size: 14px;
}

.box img {
  width: 100%;
  height: auto;
  display: block;
}

.slick-slide div {
  margin: 0 1rem;
}
