.post-container {
  max-width: 800px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.post-content h1 {
  font-weight: bolder;
}
.post-content p {
  font-size: 24px;
}
